@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('./fonts/NoonnuBasicGothicRegular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'NoonnuBasicGothicRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
